@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: 'Kanit', sans-serif;
  margin-bottom: 60px;
  background-color: #121212;
  color: white;
}

input{
  background-color: black !important;
  color: white !important;
}

.centered{
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  text-align: center;
}

.main-buttons{
  bottom: 0%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  text-align: center;
}

button{
  background-color: black !important;
  color: white;
  border-radius: 5px;
  border: groove white;
}

.btn-selected{
  border-color: orange;
}